@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./abstracts/mixin";

@import "./components/button";

@import "./layout/header";
@import "./layout/footer";

@import "./page/index.scss";
@import "./page/course";
@import "./page/checkout-1";
@import "./page/Introduction";

//共用
.text-btLine {
  border-bottom: 3px solid $green;
  padding-bottom: 16px;
}

.circle-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-activce {
  border-color: $primary !important;
  background-color: transparent !important;
  a {
    color: $primary !important;
  }
}

.timeline {
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 50%;
    background-color: $gray-400;
    height: 2px;
  }
  &::before {
    position: absolute;
    content: " ";
    left: 50%;
    right: 0;
    background-color: $gray-400;
    height: 2px;
  }
  &-pointer {
    position: relative;
    p {
      padding-top: 24px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -9px;
      border: 1px solid $gray-400;
      background-color: $black-1;
      border-radius: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      font-size: 12px;
    }
    &.step-1::before {
      content: "1";
    }
    &.step-2::before {
      content: "2";
    }
    &.step-3::before {
      content: "3";
    }
    &.active {
      &::before {
        color: white;
        background-color: $primary;
        border: $primary;
      }
    }
  }
}

.timeline-2 {
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 50%;
    background-color: $primary;
    height: 2px;
  }
  &::before {
    position: absolute;
    content: " ";
    left: 50%;
    right: 0;
    background-color: $gray-400;
    height: 2px;
  }
  &-pointer {
    position: relative;
    p {
      padding-top: 24px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -9px;
      border: 1px solid $gray-400;
      background-color: $black-1;
      border-radius: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      font-size: 12px;
    }
    &.step-1::before {
      content: "\2713";
    }
    &.step-2::before {
      content: "2";
      background-color: $primary;
      border: $primary;
      color: white;
    }
    &.step-3::before {
      content: "3";
    }
    &.active {
      &::before {
        color: white;
        background-color: $primary;
        border: $primary;
      }
    }
  }
}
.timeline-3 {
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    left: 0;
    right: 50%;
    background-color: $primary;
    height: 2px;
  }
  &::before {
    position: absolute;
    content: " ";
    left: 50%;
    right: 0;
    background-color: $primary;
    height: 2px;
  }
  &-pointer {
    position: relative;
    p {
      padding-top: 24px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -9px;
      border: 1px solid $gray-400;
      background-color: $black-1;
      border-radius: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      font-size: 12px;
    }
    &.step-1::before {
      content: "\2713";
    }
    &.step-2::before {
      content: "\2713";
      background-color: $primary;
      border: $primary;
      color: white;
    }
    &.step-3::before {
      content: "\2713";
      background-color: $primary;
      border: $primary;
      color: white;
    }
    &.active {
      &::before {
        color: white;
        background-color: $primary;
        border: $primary;
      }
    }
  }
}

.cards-zindex {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 15%;
    left: 0;
  }
}

.datepicker {
  color: $black;
}

.datepicker-cell {
  &:not(.disabled) {
    &:hover {
      background-color: $gray-100;
    }
    &.next,
    &.prev {
      color: $secondary;
    }
  }
  &.selected {
    background-color: $primary;
    &:hover {
      background-color: $primary;
    }
  }
}

.fs-43 {
  font-size: 43px;
}
