@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./base/mixin";

@import "./layout/header";
@import "./layout/index.scss";

//gradient
.gradient {
  @include gradient-text();
}

//index
.number {
  position: absolute;
  font-size: 3rem !important;
  top: -2.5rem;
  padding: 0 8px;
  background-color: $black-2;
}

//共用
.text-btLine {
  border-bottom: 3px solid $green;
  padding-bottom: 16px;
}
